:root {
  --nav-height: 3.5rem;
  --wrapper-width: 80vw;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(238, 238, 238);
}
header {
  background-color: rgb(44, 45, 51);
  padding: 0rem;
}
a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: var(--nav-height);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
}
#prova {
  color: black;
}
li#logo img {
  max-width: 15%;
  max-height: 15%;
}
li#logo {
  background-color: rgb(44, 45, 51);
  display: inline-block;
  width: calc(100% / 5);
  height: 100%;
  flex: 1;
  text-align: left;
  line-height: 5rem;
}
li#logo:hover {
  display: inline-block;
  width: calc(100% / 5);
  height: 100%;
  flex: 1;
  text-align: left;
  line-height: 5rem;
}
@media only screen and (min-width: 992px) and (max-width: 100000px) {
  #mobile {
    display: none;
  }
  #ordenador {
    background-color: rgb(44, 45, 51);
    color: rgb(44, 45, 51);
  }
  ul {
    display: flex;
  }
  li {
    border-right: 4px solid rgb(44, 45, 51);
    flex-grow: 1;
  }
  li:hover {
    cursor: pointer;
    background-color: rgb(86, 87, 92);
  }
  li#logo:hover {
    background-color: rgb(44, 45, 51);
  }
  li:last-child {
    border: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 992px) {
  * {
    box-sizing: border-box;
  }
  #ordenador {
    display: none;
  }
  .btn {
    background-color: rgb(44, 45, 51);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .desplegable {
    position: relative;
    display: inline-block;
    margin-left: 30%;
  }
  .contingut {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .contingut a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
  }
  .contingut a:hover {
    background-color: #f1f1f1;
  }
  .desplegable:hover .contingut {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: rgb(86, 87, 92);
  }
}
.top {
  width: 100%;
  height: 26rem;
}

.contenedor {
  width: 290px;
  float: left;
  width: 100%;
  height: 26rem;
  background-color: black;
}

.contenedor img {
  position: absolute;
  left: 0;
  transition: opacity 1.5s ease-in-out;
}

.contenedor img.top:hover {
  opacity: 0;
}

.minimenu > .item {
  display: inline-block;
  box-sizing: content-box;
  width: 50%;
  height: 300px;
  color: #fff;
}

footer {
  height: 49px;
  background-color: #181616;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 50px;
}

.item.grid-1 {
  background: #5e5e5e;
  
}
.item.grid-2 {
  background: #6f6f6f;
}
.item.grid-3 {
  background: #828282;
}
.item.grid-4 {
  background: #aaaaaa;
}
#fotoFinal {
  height: 167px;
}
.logo {
  width: 400px;
  height: 65px;
  padding: 0px;
}


#footer1 {

  justify-items: center;
  margin: auto;
}


.footera {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}



.footerli:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}


footer {
  display: flex;
  height: 150px;
  width: 100%;
  background-color: rgb(44, 45, 51);;
  /* line-height: 1.3; */
  font-family: Menlo, monospace;
}

